//variables scss
$title-background-color: rgb(25,25,200);
$std-color: rgb(255,255,255);


h1 {
    background-color: $title-background-color ;
    color: $std-color;
    line-height: 2.5em;
    vertical-align: middle;
    text-align: center;
}

ul { 
    list-style-type:none;
    li{
        border: solid 1px $title-background-color;
        border-radius: 0.5em;
        margin-bottom: 0.5em;

        &:last-child{
            margin-bottom: 0;
        }
    }
}