<app-stagiaire-filter [filterDate]="stopDate" (onChangeFilter)="filterChanged($event)"></app-stagiaire-filter>
<table>
    <thead>        
        <tr> <!-- tr : table row-->
            <th>#</th>      <!-- th :cellule d'en-tête -->
            <th>Lastname</th>
            <th>Firstname</th>
            <th>Birthdate</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody *ngIf="card$">        
            
            <ng-container *ngFor="let stagiaire of stagiaires">
                <!-- 
                    <tr *ngIf="(stopDate === null) ? true : stopDate.getDate() === 31 ? stagiaire.getBirthDate() > stopDate : stagiaire.getBirthDate() < stopDate">
                -->
                <tr *ngIf="changeView(stagiaire)" (click)="selectStagiaire(stagiaire)" > 
                <td>  <!-- td :définit une cellule d'un tableau -->
                   <span  appBubble [config]="bubbleConfig">

                    {{stagiaire | initials: {firstNameFirst:false} }}  
                   <!--pipe initials apres ":" arguments -->
                   
                   </span>
                </td>

                <td>
                    {{ stagiaire.getId() }}
                </td>

                <td>
                    {{ stagiaire.getLastName() | uppercase }}
                </td>

                <td>
                    {{ stagiaire.getFirstName() }}
                </td>

                <td>
                    {{ stagiaire.getBirthDate() | date: 'dd-MM-YYYY'}}
                </td>
                <td>
                    &nbsp; <button type="button" (click)="onRemove(stagiaire)">x</button>
                </td>
                
            </tr>        
    </ng-container>
    </tbody>
    <tfoot>
        <tr>     
            <td colspan="4">Nb. items</td>       
            <td>{{ getStagiairesVisible(stopDate) }}</td>
    </tfoot>
</table>

<a mat-raised-button color="accent" [routerLink]="['/', 'stagiaire','add']">Ajouter</a>

 <div [hidden]="card$ | async">
    <app-stagiaire-detail  [stagiaire]="stagiaire"></app-stagiaire-detail>
 </div>